<aside class="col-3 p-3 text-black">
<aricle class="card mb-5">
<div class="card-header">Artistes
</div>
<div class="card-body">
<p><a href="{{ path('admin_artists_index') }}">Listes des artistes</a></p>
<p><a href="{{ path('admin_artists_ajout') }}">Ajouter des artistes</a></p>
</div>
</article>

<aricle class="card mb-5">
<div class="card-header">Disques
</div>
<div class="card-body">
<p><a href="{{ path('admin_discs_index') }}">Listes des disques</a></p>
<p><a href="{{ path('admin_discs_ajout') }}">Ajouter des disques</a></p>
</div>
<div class="card mb-5">
</div>
</article>

<aricle class="card mb-5">
<div class="card-header">Utilisateurs
</div>
<div class="card-body">
<p><a href="{{ path('admin_users_index') }}">Listes des utilisateurs</a></p>
</div>
<div class="card mb-5">
</div>
</article>

</aside>