{% extends 'base.html.twig' %}

{% block title %}Velvet
{% endblock %}

{% block body %}
	<div class="contenu" >
    {# style="background-image:url('{{ asset('IMG/fond/bg3.jpeg') }}')"> #}
		<h1 class="row col-12 fst-italic">Disques pour
			{{ artists.name }}</h1>
		<!-- <a href="add_form.php" class="btn btn-primary float-end">Ajouter</a> -->
		<main class="container">
			<div class="row">
				{% for disc in discs %}
					<div class="col-md-6 mb-4">
						<div class="card" style="width: 18rem;">
							<img src="{{ asset('img/' ~ disc.picture) }}" alt="{{ disc.title }}">
							<div class="card-body">
								<h5 class="card-title">
									{{ disc.title }}</h5>
								{# <p class="card-text">
									{{ plat.description}}</p>
								<p class="content bg-body">
									{{ plat.prix}}</p> #}
							</div>

							<div class="card-footer mt-2">
								<form 
                                action="{{ path('panier_ajouter', {'id': disc.id}) }}" 
                                method="post">
										<div class="d-flex justify-content-center"> 
										<button class="btn btn-secondary bg-danger quantity-button" 
                                        href="{{ path('panier_retirer', {id: disc.id }) }}"
                                        data-disc-id="{{ disc.id }}"
                                        data-action="decrement">-</button>
										<input name="quantite" value="1" min="1" max="10" class="quantity-input col-2 text-center" data-disc-id="{{ disc.id }}" type="number">
										<button class="btn btn-secondary bg-success quantity-button" 
                                        href="{{ path('panier_ajouter', {id: disc.id }) }}" data-disc-id="{{ disc.id }}" data-action="increment">+</button>
									</div>

									{# vers panier #}
                                    <button type="submit" class=" d-block mt-5 btn btn-success mx-auto mb-3"> Ajouter au panier
									{# href="{{ path('panier_ajouter', {id: plat.id})}}" #}
										<i class="bi bi-basket"></i>
									</button>
									{# vers modal #}
									{# <button type="button" class=" d-block mt-5 btn btn-success mx-auto mb-3" data-bs-toggle="modal" data-bs-target="#modal{{ plat.id }}">Ajouter au panier
									<i class="bi bi-basket"></i>
									</button> #}

									</form>
								</div>
							</div>
						</div>

						<!-- /// LA MODAL D'AJOUT AU PANIER/// -->
						{# <div class="modal fade" id="modal{{ plat.id }}" tabindex="-1">
						<div class="modal-dialog modal-dialog-centered modal-sm">
						<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title rounded p-3">Ma commande</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body bg-secondary" aria-describedby="quantité">
						<form action="ajout_au_panier.php" method="post" id="valid" novalidate>
						<div class="dropdown">
						<label for="quantité" class="lead text-white">Combien de {{ plat.libelle}} désirez-vous</label>
						<input type="number" id="quantité" name="quantite" value="1" min="1" max="10">
						<input type="hidden" name="id_plat" value="{{ plat.id }}">
					</div>
						<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Ajouter</button>
				</div>
							</form>
								</div>
							</div>
							 </div>
							</div> #}
						{# Si vous avez affiché 2 cartes, fermez la rangée actuelle et commencez une nouvelle rangée #}
						{% if loop.index is even %}
						</div>
						<div class="row"> {% endif %}
					{% endfor %}
				</div>
			</main>
		</div>
        
		{% include "partials/footer.php" %}

	{% endblock %}