{% extends 'base.html.twig' %}

{% block title %}Velvet
{% endblock %}

{% block body %}

	<div class="contenu">

		<h2 class="text-white text-center">Bienvenue à Velvet Record</h2>
		{# pour afficher les disques les plus vendus je vais ajouter une méhode
																						dans mon repo  disc  que je vais appeler dans le controller de la page d'accueil#}

		<div class="container">
			<div class="row mt-5">
				<div class="col-10 mx-auto">
					<h2 class="text-white">Nos top ventes</h2>
					<div class="d-flex flex-wrap justify-content-around">
						{% for disc in topDiscs %}
							<div class="card m-2" style="width: 15rem;">
								<img class="card-img-top zoom-img" src="{{ asset('img/' ~ disc.picture) }}" alt="">
								<div class="card-body">
									<h5
										class="card-title">
										{# {{ disc.title }} #}
										{{ disc.artist_name }}</h5>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
		<div class="mt-5">
			<h2 class="text-white text-center">Notre Catalogue</h2>

			<li class="nav-item text-orange">
				<a class="nav-link text-center" href="{{ path('app_artists') }}">Découvrir nos  Artistes</a>
				</li>
			<li class="nav-item text-orange">
				<a class="nav-link text-center" href="{{ path('app_discs') }}">Tous nos  Albums</a>
			</li>
		</div>
		<div class="text-center">
					<a href="{{ path('app_easter') }}">  <img  src="{{ asset('img/tape.webp') }}" alt="k7"></a>
</div>
	</div>
{% include "partials/footer.php" %}{% endblock %}
