{% extends 'base.html.twig' %}

{% block title %}Velvet
{% endblock %}

{% block body %}
	<div class="contenu">

		<h2 class="text-white text-center">Liste des disques</h2>

		<div
			class="container mx-auto mt-5" id="formulaire">
			{# barre de nav pour l'admin #}
			<div class="row text-center">

				{% include "partials/adminnav.html.twig" %}

				{# <main class="col-9 border border-light bg-light p-3"> #}
				<main
					class="col-9 border p-3">
					{# <div class="row text-center"> #}
					<table class="table text-white">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Image</th>
								<th>Label</th>
								<th>Prix unitaire</th>
								<th>Nom artist</th>
								<th>Quantité en stock</th>
								<th>Quantité vendue</th>
								<th>Année</th>
								<th>Genre</th>
								<th>Actions</th>
							</tr>
						</thead>

						<tbody>

							{# Attention à ne pas oublier d'injecter le repo artist dans la fonction du controller concerné!!! #}
							{% for  disc in discs %}
								<div
									class="col-md-6 mb-4">
									{# <a href="{{ path('app_discs_artist', {'artist_id': artist.id}) }}">																																																																																															{{ disc.title}}
																																																																																																										</a> #}
									<tr>
										<td>{{ disc.id }}</td>
										<td>{{ disc.title }}</td>
										<td><img src="{{ asset('img/' ~ disc.picture) }}" alt="{{ disc.title }}" style="width: 100px; height: auto;"></td>
										<td>{{ disc.label }}</td>
										<td>{{ disc.prix }}</td>
										<td>{{ disc.artist.name }}</td>
										{# attention ne pas oublier de soustraire la quantité vendu!!! #}
										{# pour la vente récupérer la propriété quantity dans detail #}
										{% set totalQuantity = 0 %}

										{# {% if disc.details is not empty %} #}
										{# j'initialise la quantite du stock avant la boucle #}
										{# {% set quantiteStock = 0 %} #}
											{% for detail in disc.details %}
												{# {% set totalQuantity = totalQuantity + detail.quantity %} #}
												{% set totalQuantity = disc.vente + detail.quantity %}
												{% endfor %}

										{% set quantiteStock = disc.quantite - totalQuantity %}
										{# {% set quantiteStock = disc.quantite - disc.vente %} #}

										  {% if quantiteStock > 0 %}
												<td>{{ quantiteStock}}</td>
												{% else %}
                                    <td>Épuisé</td>
                                {% endif %}
												{# <td>{{ disc.vente }}</td> #}
												<td>{{ totalQuantity }}</td>
											{# {% else %}
												0
											{% endif %} #}
										<td>{{ disc.year }}</td>
										<td>{{ disc.genre }}</td>
										<td>
											<a href="{{ path('admin_discs_edit', {id: disc.id})}}">Modifier</a>
										</td>
									</tr>
								</div>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</main>
		</div>
	</div>
{% endblock %}
